body{
    font-family: Tahoma, Verdana, sans-serif;
}
body::-webkit-scrollbar {
    width: 0.5vw;
  }
 body::-webkit-scrollbar-track {
    border-radius: 5px;
    cursor: pointer;
    
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(60, 63, 65);
    border-radius: 10px;
  }
header{
    width: 100%;
    height: 100vh;
    /* background-image: url(img/img1.jpg); */
    background-color: #F78361;
    border: 1px solid rgb(0, 0, 0);
    background-repeat: no-repeat;
    transition: all;
    align-items: center;
}
.header-heading-div{
    background-color: #2f2d23;
    /* background-image: url(img/img2.jpg); */
    width: 100%;
    height: 90px;
    border: 1px solid  #F78361;
    box-shadow:  0 0px 20px 0   #F78361;
    font-family: cursive;
}
.header-heading-div h1{
    text-align: center;
    color:white;
    text-shadow: 5px 5px 5px #F78361;
}
#main-nav{
    width: 100%;
    height: 85vh;
    display: flex;
 align-items: center;
}
#main-div-1{
    margin-top: 20px;
    margin-left: 20vw;
    border: 1px solid black;
    width: 60%;
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.759), 0 6px 20px 0 rgba(0, 0, 0, 0.759);
    background-color: #2f2d23;
   border-radius: 5px;
   overflow-y: scroll;
   overflow-x: scroll;
   
  
}
#main-div-1::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  #main-div-1::-webkit-scrollbar-track {
    border-radius: 5px;
    cursor: pointer;
    scroll-behavior: smooth;
  }

  #main-div-1::-webkit-scrollbar-thumb {
    background-color:  #F78361;
    border-radius: 10px;
  }
  #main-div{
    margin-top: 20px;
    margin-left: 20vw;
    border: 3px solid black;
    width: 60%;
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.397);
   background-color:#2f2d23;
   border-radius: 5px;
   /* overflow-y: scroll;
   overflow-x: hidden; */
   display: flex;
   align-items: center;
}
.horizontal-box{
    width: 100%;
    height: 230px;
    /* border: 1px solid red; */
    display: inline-flex; 
}
.profile-main-div{
    margin-top: 19px;
    margin-left: 50px;
    width: 25%;
    height: 190px;
    border: 3px solid  black;
    border-radius: 5px;
}
.profile-main-div:hover{
    box-shadow:  0 0px 20px 0  rgba(0, 0, 0, 0.615);
    cursor: pointer;
  }
.a{
    width: 100%;
    height: 130px;
    display: flex;
}
.a img{
    width: 100%;
    height: 125px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px; 

}
.b{
    width: 100%;
    height: 30px;
    background-color:  black;
    border-bottom: 1px solid  black;
    position: relative;

}
.b h1{

    margin: 0;
    padding: 0;
     color:  rgba(255, 231, 231, 0.928);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

.c{
    width: 100%;
    height: 30px;

}
.c input {
    width: 100%;
    height: 30px;
   color: aliceblue;
   background-color:  #de7556;
   border: none;
   border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c:hover{
    background-color:  #F78361;
    box-shadow:  0 0px 20px 0   #F78361;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}
.main-info-div{
    width: 80%;
    height: 480px;
    border: 3px solid black;
    margin-left: 80px;
    border-radius: 10px;
}
.aa{
    width: 100%;
    height: 65px;
    /* border: 1px solid red; */
    display:flex;
}
.profile-picture{
    width: 15%;
    height: 60px;
    /* border: 0.5px solid black; */
    /* border: 1px solid red; */
    /* display: inline-flex; */
    padding: 0px  2px 0px 2px;
}
.profile-picture img{
    width: 70%;
    height: 60px;
    border-radius: 50%;
    padding: 0px  2px 0px 2px;
    border: 0.5px solid black;
    margin-left: 14px;
    margin-top: 1px;
}

.profile-name{
    width: 85%;
    height: 65px;
    border-left: 3px solid black;
    position: relative;
}

.profile-name h1{
    color:white;
    text-align: center;
    position: relative;
   bottom: 5%;
}
.bb{
    width: 100%;
    height: 430px;
    /* border: 1px solid red; */
    display: inline-flex;
    
}
.info-name-box{
width: 35%;
height: 425px;
/* border: 1px solid red; */
border-top: 2px solid  black;
}
.info-data-box{
    width: 70%;
    height: 425px;
    border-top: 2px solid  black;
  
}
.info-name{
    width: 60%;
    height: 380px;
    border: 1px solid  black;
    margin-top: 10px;
    margin-left: 40%;
    background-color:  #3b3d43;
}
.info-data{
    width: 80%;
    height: 380px;
    border: 1px solid  black;
    margin-top: 10px;
    margin-right: 20%;
    background-color:  #3b3d43;
}
.info-name-list{
    color: white;
    font-size: 7px;
    border-bottom: 1px solid  black;

   
}
.info-name-list-about{
    width: 100%;
    height: 110px;
    color:white;
    font-size: 8px;
}
.info-data-list{
   
    color:rgb(255, 244, 244);
    font-size: 8px;
    border-bottom: 1px solid black;
}
.info-data-list h1{
     margin-left: 1vw;
     text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.759);
}
.info-name-list h1{
    margin-left: 10px;
    font-size: 12px;
}
.info-name-list-about h1{
    margin-left: 8px;
}
.info-data-list-about{
    width: 100%;
    height: 17vh;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: justify;
    overflow-y: scroll;
    overflow-x: hidden;
   
    
}
.info-data-list-about::-webkit-scrollbar {
    width: 2px;
  }
  .info-data-list-about::-webkit-scrollbar-track {
    border-radius: 5px;
    cursor: pointer;
  }

  .info-data-list-about::-webkit-scrollbar-thumb {
    background-color: rgb(6, 6, 6);
    border-radius: 10px;
  }
.info-data-list-about p{
    margin-left: 10px;
    margin-right: 10px;
}
.info-data-list a{
    text-decoration: none;
    color: rgba(212, 23, 23, 0.552);
}
.info-data-list a:hover{
    color: rgb(238, 238, 238);
    text-decoration: underline;
    cursor: pointer;
}
.back-btn button{
    width: 30%;
    height: 20px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 14, 14);
}
.back-btn {
    padding: 10px 10px 10px 10px;
    margin-left: 40px;
    transition: all;


}